body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    transition: opacity ease-in 0.2s;
}

body[unresolved] {
    opacity: 0;
    display: block;
    overflow: hidden;
    position: relative;
}

.container {
    flex: 1 1 50%;
    display: inline-block;
    margin-bottom: 2em;
    text-align: center;
    padding: 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.controls-form, .controls {
    padding: 1em;
    background-color: #fff;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.controls-form label, .controls label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.controls-form input, .controls input {
    display: block;
    width: calc(100% - 2em);
    margin: 0.5em 0 1em 0;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.controls-form button, .controls button {
    display: block;
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.controls-form button:hover, .controls button:hover {
    background-color: #0056b3;
}

#download-link {
    display: block;
    margin: 1em 0;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

#download-link:hover {
    text-decoration: underline;
}

.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}

.upload-demo-wrap {
    margin: auto;
}

.cr-viewport {
    border: 1px solid black !important;
}

.hide {
    display: none !important;
}

